html {
    font-size: 15px;
    background-color: #f0f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    width: 70%;
    position: absolute;
    left: 10%;
    padding-left: 5%; padding-right: 5%;
    background-color: #ffffff;
}

p, ul {
    font-family: "Open Sans", "Noto Sans Mono", Consolas, "Courier New";
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
}

a {
    color: #3300ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 20px 15px 20px 15px;
    border-style: none;
    background-color: #f0f0f0f0;
    font-family: 'Consolas', 'Noto Sans Mono', 'Courier New', Courier, monospace, serif;
}

code {
    font-family: 'Consolas', 'Noto Sans Mono', 'Courier New', Courier, monospace, serif;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

th, td {
    padding: 5px 10px;
}

table > tbody > tr + tr > td {
    border-top: 1px solid;
}
