# bazel 6.3.1-homebrew
# Apple clang version 14.0.3 (clang-1403.0.22.14.1)

build --cxxopt=-g
build --cxxopt=-O3
build --cxxopt=-std=c++20
build --cxxopt=-Wall
build --cxxopt=-Werror
build --cxxopt=-fdiagnostics-color
build --cxxopt=-Wfatal-errors

# build --cxxopt=-fsanitize=address
# build --linkopt=-fsanitize=address

build --spawn_strategy=standalone
