build --cxxopt=-g
build --cxxopt=-O3
build --cxxopt=-std=c++2b
build --cxxopt=-Wall
# build --cxxopt=-Werror
build --cxxopt=-fdiagnostics-color
build --cxxopt=-Wfatal-errors

# build --cxxopt=-fsanitize=address
# build --linkopt=-fsanitize=address

build --spawn_strategy=standalone
