table {
    border-collapse: collapse;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

th,
td {
    font-size: 100%;
    padding: 5px 10px;
    width: auto;
}

table>tbody>tr+tr>td {
    border-top: 1px solid;
}

h1 {
    font-size: 120%;
    text-align: center;
}

body {
    background-image: url(../image/bg.jpg);
}

select_all, 
button {
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
}
